# Mise en forme de la partie formulaire des données de Juin

## Chargement package et données

In [209]:
import numpy as np
import pandas as pd
import os
import math
import re 
os.getcwd()

"C:\\Users\\Ju'\\Documents\\INGE 3A\\IODAA_Fil_Rouge"

In [210]:
df = pd.read_csv("Resultats_choix_Juin_LDV_split.csv", sep=",", decimal =".", encoding="cp1252")
df

,Unnamed: 0,Horodateur,Numéro de formulaire,ENTREE_1,ENTREE_2,ENTREE_3,PLAT_1,PLAT_2,PLAT_3,DESSERT_1,...,Aspect,Convive 1,Convive 2,Convive 3,Convive 4,Convive 5,Convive 6,Convive 7,Convive 8,Unnamed: 27
0,0,11:35:32,B23,oeufmayo,NaN,NaN,escalopedeporc,pommedeterre,NaN,yaourt,...,4.0,B25,B24,B19,NaN,NaN,NaN,NaN,NaN,NaN
1,1,11:36:00,B25,oeufmayo,NaN,NaN,escalopedeporc,pommedeterre,NaN,tartechocolat,...,10.0,B23,B24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,11:38:24,B19,oeufmayo,NaN,NaN,escalopedeporc,pommedeterre,NaN,tartechocolat,...,0.0,B23,B25,B24,NaN,NaN,NaN,NaN,NaN,NaN
3,3,11:40:13,B20,oeufmayo,NaN,NaN,escalopedeporc,pommedeterre,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,11:40:42,B21,NaN,NaN,NaN,escalopedeporc,pommedeterre,NaN,NaN,...,7.0,B20,B22,B24,B17,B18,B19,B23,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,115,12:54:51 PM,A02,NaN,NaN,NaN,gnocchispestovege,NaN,NaN,fruit,...,6.0,A01,A03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,116,12:55:22 PM,A04,NaN,NaN,NaN,escalopedeporc,pommedeterre,NaN,tartechocolat,...,4.0,A06,A07,A08,NaN,NaN,NaN,NaN,NaN,NaN
117,117,12:55:40 PM,A01,NaN,NaN,NaN,escalopedeporc,pommedeterre,NaN,NaN,...,5.0,A03,A03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,118,12:57:05 PM,A10,NaN,NaN,NaN,grillades,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,119,12:57:26 PM,A11,NaN,NaN,NaN,grillades,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [211]:
df.columns

Index(['Unnamed: 0', 'Horodateur', 'Numéro de formulaire', 'ENTREE_1',
       'ENTREE_2', 'ENTREE_3', 'PLAT_1', 'PLAT_2', 'PLAT_3', 'DESSERT_1',
       'DESSERT_2', 'DESSERT_3', 'Heure départ', 'Genre', 'Regime',
       'Fréquentation', 'Faim', 'Connaissances', 'Influence',
       'Influence aspect', 'Quantité', 'Equilibré', 'Aspect', 'Convive 1',
       'Convive 2', 'Convive 3', 'Convive 4', 'Convive 5', 'Convive 6',
       'Convive 7', 'Convive 8', 'Unnamed: 27'],
      dtype='object')

Comme on s'intéresse aux variables liées au formulaire on va aussi gérer un Data Frame `dff`contenant uniquement les variables explicatives renseignées dans les formulaires (pas les varaibles liées au choix du plateau)

In [212]:
dff = df[['Heure départ', 'Genre', 'Regime',
       'Fréquentation', 'Faim', 'Connaissances', 'Influence',
       'Influence aspect', 'Quantité', 'Equilibré', 'Aspect', 'Convive 1',
       'Convive 2', 'Convive 3', 'Convive 4', 'Convive 5', 'Convive 6',
       'Convive 7', 'Convive 8', 'Unnamed: 27']]

## Suppression des lignes mal remplies

Certaines lignes de donnée formulaires ne sont pas renseignées (on obtient des lignes entières de `NaN`) : on supprime ces lignes. Dans un premier temps, on repère les lignes contenant que des `Nan` dans la partie formulaire (`dff`).

In [213]:
index_with_nan = dff.index[dff.isnull().all(axis=1)]
index_with_nan

Int64Index([3, 16, 19, 24, 27, 36, 59, 73, 74, 75, 85, 95, 97, 98, 118, 119], dtype='int64')

In [214]:
#Suppression dans df
df.drop(index=index_with_nan, axis=0, inplace=True)
df.reset_index(drop = True, inplace = True)

dff.drop(index=index_with_nan, axis=0, inplace=True)
dff.reset_index(drop = True, inplace = True)

df

C:\Anaconda\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Unnamed: 0,Horodateur,Numéro de formulaire,ENTREE_1,ENTREE_2,ENTREE_3,PLAT_1,PLAT_2,PLAT_3,DESSERT_1,...,Aspect,Convive 1,Convive 2,Convive 3,Convive 4,Convive 5,Convive 6,Convive 7,Convive 8,Unnamed: 27
0,0,11:35:32,B23,oeufmayo,NaN,NaN,escalopedeporc,pommedeterre,NaN,yaourt,...,4.0,B25,B24,B19,NaN,NaN,NaN,NaN,NaN,NaN
1,1,11:36:00,B25,oeufmayo,NaN,NaN,escalopedeporc,pommedeterre,NaN,tartechocolat,...,10.0,B23,B24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,11:38:24,B19,oeufmayo,NaN,NaN,escalopedeporc,pommedeterre,NaN,tartechocolat,...,0.0,B23,B25,B24,NaN,NaN,NaN,NaN,NaN,NaN
3,4,11:40:42,B21,NaN,NaN,NaN,escalopedeporc,pommedeterre,NaN,NaN,...,7.0,B20,B22,B24,B17,B18,B19,B23,NaN,NaN
4,5,11:41:45,B15,NaN,NaN,NaN,escalopedeporc,pommedeterre,NaN,tartechocolat,...,8.0,B16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,113,12:54:02 PM,A03,saladepommedeterre,NaN,NaN,gnocchispestovege,NaN,NaN,yaourt,...,6.0,A01,A02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,114,12:54:31 PM,A07,NaN,NaN,NaN,escalopedeporc,pommedeterre,NaN,NaN,...,8.0,A06,A08,A04,NaN,NaN,NaN,NaN,NaN,NaN
101,115,12:54:51 PM,A02,NaN,NaN,NaN,gnocchispestovege,NaN,NaN,fruit,...,6.0,A01,A03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,116,12:55:22 PM,A04,NaN,NaN,NaN,escalopedeporc,pommedeterre,NaN,tartechocolat,...,4.0,A06,A07,A08,NaN,NaN,NaN,NaN,NaN,NaN
103,117,12:55:40 PM,A01,NaN,NaN,NaN,escalopedeporc,pommedeterre,NaN,NaN,...,5.0,A03,A03,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Gestion des colonnes

On veut que les DataFrames de Juin aient les mêmes colonnes que les DataFrames d'Octobre. Pour cela il faut que les DataFrames aient le même nombre de colonnes, que ces colonnes soient dans le même ordre et aient le même nom. Pour l'instant, on ne se préoccupe pas des colonnes liées au choix, ni de l'horodateur, et numéro de forulaire.

**Colonnes des `Formulaires d'Octobre`:**
```
['Genre', 'Age', 'Taille', 'Poids', 'IMC', 'Activité physique',
       'Régime particulier', 'Végé', 'Fréquence CROUS', 'Equilibre alim',
       'Seule ou en groupe', 'Nb groupe entrée', 'Proximité', 'Connaissance',
       'Parti groupe', 'Influ sociale', 'Percept senso', 'Nb file', 'Faim',
       'Stress', 'Nb convives', 'Ami 1', 'Ami 2', 'Ami 3', 'Ami 4', 'Ami 5',
       'Ami 6', 'Ami 7', 'Ami 8', 'Ami 9', 'Ami 10', 'Ami 11', 'Ami 12',
       'Ami 13', 'Ami 14', 'Ami 15', 'Ami 16', 'Ami 17']
```

In [215]:
print(dff.columns)
dff.head()

Index(['Heure départ', 'Genre', 'Regime', 'Fréquentation', 'Faim',
       'Connaissances', 'Influence', 'Influence aspect', 'Quantité',
       'Equilibré', 'Aspect', 'Convive 1', 'Convive 2', 'Convive 3',
       'Convive 4', 'Convive 5', 'Convive 6', 'Convive 7', 'Convive 8',
       'Unnamed: 27'],
      dtype='object')

,Heure départ,Genre,Regime,Fréquentation,Faim,Connaissances,Influence,Influence aspect,Quantité,Equilibré,Aspect,Convive 1,Convive 2,Convive 3,Convive 4,Convive 5,Convive 6,Convive 7,Convive 8,Unnamed: 27
0,12:06,Homme,non,>3,10.0,oui,non,non,5.0,7.0,4.0,B25,B24,B19,NaN,NaN,NaN,NaN,NaN,NaN
1,12:06,Homme,non,>3,10.0,oui,non,oui,7.0,2.0,10.0,B23,B24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12:10,Homme,non,>3,7.0,oui,non,non,0.0,0.0,0.0,B23,B25,B24,NaN,NaN,NaN,NaN,NaN,NaN
3,12:10,Homme,non,1à3,6.0,oui,non,oui,5.0,6.0,7.0,B20,B22,B24,B17,B18,B19,B23,NaN,NaN
4,12:10,Femme,non,>3,5.0,oui,non,non,4.0,5.0,8.0,B16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Variables catégorielles binaires

Elles seront par la suite codées en 0 et 1.

In [216]:
#on regarde quelles sont les variables binaires
print("Genre : ", df["Genre"].unique())        #Genre dans fichiers d'Octobre
print("Regime : ", df["Regime"].unique())        #Régime particulier
print("Connaissances : ", df['Connaissances'].unique())        #Connaissance
print("Influence aspect : ", df['Influence aspect'].unique())
print("Influence : ", df['Influence'].unique())        #Non binaire mas Influence sociale

Genre :  ['Homme' 'Femme' 'NB' nan]
Regime :  ['non' 'oui' nan]
Connaissances :  ['oui' 'non' nan]
Influence aspect :  ['non' 'oui' nan '7']
Influence :  ['non' 'oui']

Pour `Influence aspect` on voit un espace après le 'non' qui est comptabilisé comme une valeur différente. Il faut le modifier. Pour le `Genre` il y a des valeurs 'NB' (Non binaire ?) comment les traiter ? Pour le moment on les laisse en NA.

In [217]:
df["Genre"] = df["Genre"].replace({'Homme':1, 'Femme':0, 'NB':np.nan})
df["Regime"] = df["Regime"].replace({'non':0, 'oui':1})
df['Influence aspect'] = df['Influence aspect'].replace('7', np.nan, regex=True)
df['Influence aspect'] = df['Influence aspect'].replace({'non':0, 'oui':1})
df['Influence'] = df['Influence'].replace({'non':1, 'oui':2}) #our correspondre à la variable échelle d'Octobre
df['Connaissances'] = df['Connaissances'].replace({'non':0, 'oui':1})

In [218]:
print("Genre : ", df["Genre"].unique())        
print("Regime : ", df["Regime"].unique())        
print("Connaissances : ", df['Connaissances'].unique())        
print("Influence aspect : ", df['Influence aspect'].unique())
print("Influence : ", df['Influence'].unique())

Genre :  [ 1.  0. nan]
Regime :  [ 0.  1. nan]
Connaissances :  [ 1.  0. nan]
Influence aspect :  [ 0.  1. nan]
Influence :  [1 2]

### Variables numériques

Pour ces jeux de données toutes les variables umériques sont issues de variables catégrielles issues d'échelles.

### Variables categorielles en échelle

In [219]:
#on regarde quelles sont les variables concernées
print("Fréquentation : ", df['Fréquentation'].unique())        #Fréquence CROUS
print("Faim : ", df['Faim'].unique())        #Faim
print("Quantité : ", df['Quantité'].unique())        
print("Equilibré : ", df['Equilibré'].unique())        #Equilibre alim
print("Aspect : ", df['Aspect'].unique())        #Perception senso
#print("Attente : ", df['Attente'].unique())        #Nb file

Fréquentation :  ['>3' '1à3' nan '<1' '>1']
Faim :  [10.  7.  6.  5.  4.  8.  9.  3.  2.]
Quantité :  [ 5.  7.  0.  4.  8.  9.  3.  6. 10. nan  2.]
Equilibré :  [ 7.  2.  0.  6.  5.  8.  9.  4. 10.  3.]
Aspect :  [ 4. 10.  0.  7.  8.  6.  9.  5.  1.  2. nan  3.]

#### Fréquentation

In [220]:
#on remplace les valeurs de la colonne par des valeurs numériques
df["Fréquentation"] = df["Fréquentation"].replace('<1', 0)
df["Fréquentation"] = df["Fréquentation"].replace('1à3', 1)
df["Fréquentation"] = df["Fréquentation"].replace('>1', 1)
df["Fréquentation"] = df["Fréquentation"].replace('>3', 2)

In [221]:
print("Fréquentation : ", df['Fréquentation'].unique())

Fréquentation :  [ 2.  1. nan  0.]

#### Faim

In [222]:
#Changement d'échelle de 0 à 3
df["Faim"] = df["Faim"].replace([1, 2, 3],0)
df["Faim"] = df["Faim"].replace([4, 5],1)
df["Faim"] = df["Faim"].replace([6, 7],2)
df["Faim"] = df["Faim"].replace([8, 9, 10],3)

In [223]:
print("Faim : ", df['Faim'].value_counts())

Faim :  2.0    51
3.0    27
1.0    21
0.0     5
Name: Faim, dtype: int64

#### Equilibre

Dans un premier temps on règle le problème du 'è'. On suppose qu'il s'agit d'un '7' mal tapé sur un clavier AZERTY.

In [224]:
#df["Equilibre"] = df["Equilibre"].replace('è','7')

Nous changeons l'échelle pour qu'elle soit la même que celle utilisée dans les formulaires d'Octobre. Pour ce faire nous changeons au préalable le type de données de chaines de caractères à entiers.

In [225]:
#Changement du type
df["Equilibré"] = df["Equilibré"].astype(int)

#Changement d'échelle 0 à 4.
df["Equilibré"] = df["Equilibré"].replace([0, 1, 2],0)
df["Equilibré"] = df["Equilibré"].replace([3, 4],1)
df["Equilibré"] = df["Equilibré"].replace([5, 6],2)
df["Equilibré"] = df["Equilibré"].replace([7, 8],3)
df["Equilibré"] = df["Equilibré"].replace([9, 10],4)

In [226]:
print("Equilibré : ", df['Equilibré'].value_counts())

Equilibré :  3    40
2    24
0    15
4    13
1    12
Name: Equilibré, dtype: int64

#### Attente

In [227]:
#Changement d'échelle de 0 à 2
"""df["Attente"] = df["Attente"].replace([0, 1, 2, 3],0)
df["Attente"] = df["Attente"].replace([4, 5, 6],1)
df["Attente"] = df["Attente"].replace([7, 8, 9, 10],2)"""

'df["Attente"] = df["Attente"].replace([0, 1, 2, 3],0)\ndf["Attente"] = df["Attente"].replace([4, 5, 6],1)\ndf["Attente"] = df["Attente"].replace([7, 8, 9, 10],2)'

In [228]:
#print("Attente : ", df['Attente'].value_counts())

#### Aspect

In [229]:
#Changement d'échelle de 0 à 3
df["Aspect"] = df["Aspect"].replace([1, 2, 3],0)
df["Aspect"] = df["Aspect"].replace([4, 5],1)
df["Aspect"] = df["Aspect"].replace([6, 7],2)
df["Aspect"] = df["Aspect"].replace([8, 9, 10],3)

In [230]:
print("Aspect : ", df['Aspect'].value_counts())

Aspect :  2.0    39
3.0    27
1.0    26
0.0    11
Name: Aspect, dtype: int64

### Variables "Ami" (chaine de caractères)

Renommons les colonnes `Ami` pour qu'elles correspondent aux colonnes des données d'Octobre (Ami 1 à 17 même si certaines colonnes sont vides).

In [231]:
df.columns

Index(['Unnamed: 0', 'Horodateur', 'Numéro de formulaire', 'ENTREE_1',
       'ENTREE_2', 'ENTREE_3', 'PLAT_1', 'PLAT_2', 'PLAT_3', 'DESSERT_1',
       'DESSERT_2', 'DESSERT_3', 'Heure départ', 'Genre', 'Regime',
       'Fréquentation', 'Faim', 'Connaissances', 'Influence',
       'Influence aspect', 'Quantité', 'Equilibré', 'Aspect', 'Convive 1',
       'Convive 2', 'Convive 3', 'Convive 4', 'Convive 5', 'Convive 6',
       'Convive 7', 'Convive 8', 'Unnamed: 27'],
      dtype='object')

In [232]:
df.columns = ['Unnamed: 0', 'Horodateur', 'Numéro de formulaire', 'ENTREE_1',
       'ENTREE_2', 'ENTREE_3', 'PLAT_1', 'PLAT_2', 'PLAT_3', 'DESSERT_1',
       'DESSERT_2', 'DESSERT_3', 'Heure départ', 'Genre', 'Regime',
       'Fréquentation', 'Faim', 'Connaissances', 'Influence',
       'Influence aspect', 'Quantité', 'Equilibré', 'Aspect', 'Ami 1',
       'Ami 2', 'Ami 3', 'Ami 4', 'Ami 5', 'Ami 6',
       'Ami 7', 'Ami 8', 'Ami 9']

Maintenant ajoutons les colonnes `Ami` manquantes.

In [233]:
for i in range(10,18):
    df[f'Ami {i}'] = np.NaN
df.iloc[:,20:]

,Quantité,Equilibré,Aspect,Ami 1,Ami 2,Ami 3,Ami 4,Ami 5,Ami 6,Ami 7,Ami 8,Ami 9,Ami 10,Ami 11,Ami 12,Ami 13,Ami 14,Ami 15,Ami 16,Ami 17
0,5.0,3,1.0,B25,B24,B19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7.0,0,3.0,B23,B24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,0,0.0,B23,B25,B24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5.0,2,2.0,B20,B22,B24,B17,B18,B19,B23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,2,3.0,B16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,6.0,2,2.0,A01,A02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,8.0,1,3.0,A06,A08,A04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,8.0,4,2.0,A01,A03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,8.0,4,1.0,A06,A07,A08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,8.0,3,1.0,A03,A03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [235]:
df['Ami 9'].unique()

array([nan, 'A13', 'A22'], dtype=object)

## Que faire des NA relous ?

Pour l'instant on ne s'en occupe pas, dans les autres csv on les a remplacées par la médiane.

In [236]:
df = df.replace(pd.NA, np.NaN, regex=True)
df = df.replace('', np.NaN, regex=True)

In [237]:
#median = csv_tot.median(skipna = True)
#len(csv_tot.median(skipna = True))

## Verification du types de données

In [151]:
#df.dtypes

In [238]:
df = df.astype({'Genre':int, 'Regime':int, 'Fréquentation':int, 'Faim':int,
       'Connaissances':int, 'Influence':int, "Aspect":int,
       'Ami 1':str, 'Ami 2':str, 'Ami 3':str, 'Ami 4':str, 'Ami 5':str,
       'Ami 6':str, 'Ami 7':str, 'Ami 8':str, 'Ami 8':str, 'Ami 10':str, 'Ami 11':str, 'Ami 12':str, 
       'Ami 13':str, 'Ami 14':str, 'Ami 15':str, 'Ami 16':str, 'Ami 17':str}, errors = 'ignore')

In [239]:
#df.dtypes

## Réorganisation du DataFrame

Colonnes d'Octobre :
```
['Genre', 'Age', 'Taille', 'Poids', 'IMC', 'Activité physique', 'Régime particulier', 'Végé', 'Fréquence CROUS', 'Equilibre alim', 'Seule ou en groupe', 'Nb groupe entrée', 'Proximité', 'Connaissance', 'Parti groupe', 'Influ sociale', 'Percept senso', 'Nb file', 'Faim', 'Stress', 'Nb convives', 'Ami 1', 'Ami 2', 'Ami 3', 'Ami 4', 'Ami 5', 'Ami 6', 'Ami 7', 'Ami 8', 'Ami 9', 'Ami 10', 'Ami 11', 'Ami 12', 'Ami 13', 'Ami 14', 'Ami 15', 'Ami 16', 'Ami 17']
```

Colonnes actuelles (à changer) pour Juin **ENS**:
```
['Unnamed: 0', 'Numéro de formulaire', 'ENTREE_1', 'ENTREE_2','ENTREE_3', 'PLAT_1', 'PLAT_2', 'PLAT_3', 'DESSERT_1', 'DESSERT_2','DESSERT_3', 'Horodateur', 'Genre', 'Régime', 'Fréquentation', 'Faim', 'Connaissance entourage', 'Influence entourage', 'Influence aspect','Quantité', 'Equilibre', 'Aspect', 'Attente', 'Ami 1', 'Ami 2','Ami 3', 'Ami 4', 'Ami 5', 'Ami 6','Ami 7', 'Ami 8']
```

Colonnes actuelles (à changer) pour Juin **LDV**:
```
['Unnamed: 0', 'Horodateur', 'Numéro de formulaire', 'ENTREE_1',
       'ENTREE_2', 'ENTREE_3', 'PLAT_1', 'PLAT_2', 'PLAT_3', 'DESSERT_1',
       'DESSERT_2', 'DESSERT_3', 'Heure départ', 'Genre', 'Regime',
       'Fréquentation', 'Faim', 'Connaissances', 'Influence',
       'Influence aspect', 'Quantité', 'Equilibré', 'Aspect', 'Ami 1', 'Ami 2',
       'Ami 3', 'Ami 4', 'Ami 5', 'Ami 6',
       'Ami 7', 'Ami 8', 'Ami 9', 'Ami 10', 'Ami 11', 'Ami 12','Ami 13', 'Ami 14', 'Ami 15', 'Ami 16', 'Ami 17']
```

Mise en place des colonnes formulaire.

In [240]:
final = df[['Genre',  'Regime',  'Fréquentation',  'Equilibré', 'Connaissances', 'Influence', 
            'Aspect', 'Faim', 'Ami 1', 'Ami 2', 'Ami 3', 'Ami 4', 'Ami 5', 'Ami 6', 'Ami 7', 'Ami 8', 
            'Ami 9', 'Ami 10', 'Ami 11', 'Ami 12', 'Ami 13', 'Ami 14', 'Ami 15', 'Ami 16', 'Ami 17']]

Renommage des colonnes

In [241]:
final.columns = ['Genre', 'Régime particulier', 'Fréquence CROUS', 'Equilibre alim', 'Connaissance', 'Influ sociale', 
                 'Percept senso', 'Faim', 'Ami 1', 'Ami 2', 'Ami 3', 'Ami 4', 'Ami 5', 'Ami 6', 'Ami 7', 
                 'Ami 8', 'Ami 9', 'Ami 10', 'Ami 11', 'Ami 12', 'Ami 13', 'Ami 14', 'Ami 15', 'Ami 16', 'Ami 17']

Ajout des colonnes d'Octobre non renseignées remplies de NA.

In [242]:
#help(pd.DataFrame.insert)

col_Octobre = ['Genre', 'Age', 'Taille', 'Poids', 'IMC', 'Activité physique', 'Régime particulier', 'Végé', 
               'Fréquence CROUS', 'Equilibre alim', 'Seule ou en groupe', 'Nb groupe entrée', 'Proximité', 
               'Connaissance', 'Parti groupe', 'Influ sociale', 'Percept senso', 'Nb file', 'Faim', 'Stress', 
               'Nb convives', 'Ami 1', 'Ami 2', 'Ami 3', 'Ami 4', 'Ami 5', 'Ami 6', 'Ami 7', 'Ami 8', 'Ami 9', 
               'Ami 10', 'Ami 11', 'Ami 12', 'Ami 13', 'Ami 14', 'Ami 15', 'Ami 16', 'Ami 17']

for i in range(len(col_Octobre)):
    if col_Octobre[i] != final.columns[i]:
        final.insert(i, col_Octobre[i], np.nan)

In [243]:
final

,Genre,Age,Taille,Poids,IMC,Activité physique,Régime particulier,Végé,Fréquence CROUS,Equilibre alim,...,Ami 8,Ami 9,Ami 10,Ami 11,Ami 12,Ami 13,Ami 14,Ami 15,Ami 16,Ami 17
0,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2.0,3,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
1,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2.0,0,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
2,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2.0,0,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
3,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,1.0,2,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
4,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2.0,2,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2.0,2,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
100,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2.0,1,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
101,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0,4,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
102,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2.0,4,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
103,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2.0,3,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan

Ajout des colonnes de choix non finalisées.

In [248]:
final.insert(0, 'Numéro de formulaire', df['Numéro de formulaire'])

final = pd.merge(final,df[['ENTREE_1', 'ENTREE_2',
       'ENTREE_3', 'PLAT_1', 'PLAT_2', 'PLAT_3', 'DESSERT_1', 'DESSERT_2',
       'DESSERT_3', 'Horodateur']], left_index=True, right_index=True)

In [249]:
print(final.columns)
final

Index(['Numéro de formulaire', 'Genre', 'Age', 'Taille', 'Poids', 'IMC',
       'Activité physique', 'Régime particulier', 'Végé', 'Fréquence CROUS',
       'Equilibre alim', 'Seule ou en groupe', 'Nb groupe entrée', 'Proximité',
       'Connaissance', 'Parti groupe', 'Influ sociale', 'Percept senso',
       'Nb file', 'Faim', 'Stress', 'Nb convives', 'Ami 1', 'Ami 2', 'Ami 3',
       'Ami 4', 'Ami 5', 'Ami 6', 'Ami 7', 'Ami 8', 'Ami 9', 'Ami 10',
       'Ami 11', 'Ami 12', 'Ami 13', 'Ami 14', 'Ami 15', 'Ami 16', 'Ami 17',
       'ENTREE_1', 'ENTREE_2', 'ENTREE_3', 'PLAT_1', 'PLAT_2', 'PLAT_3',
       'DESSERT_1', 'DESSERT_2', 'DESSERT_3', 'Horodateur'],
      dtype='object')

,Numéro de formulaire,Genre,Age,Taille,Poids,IMC,Activité physique,Régime particulier,Végé,Fréquence CROUS,...,ENTREE_1,ENTREE_2,ENTREE_3,PLAT_1,PLAT_2,PLAT_3,DESSERT_1,DESSERT_2,DESSERT_3,Horodateur
0,B23,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2.0,...,oeufmayo,NaN,NaN,escalopedeporc,pommedeterre,NaN,yaourt,NaN,NaN,11:35:32
1,B25,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2.0,...,oeufmayo,NaN,NaN,escalopedeporc,pommedeterre,NaN,tartechocolat,NaN,NaN,11:36:00
2,B19,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2.0,...,oeufmayo,NaN,NaN,escalopedeporc,pommedeterre,NaN,tartechocolat,NaN,NaN,11:38:24
3,B21,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,1.0,...,NaN,NaN,NaN,escalopedeporc,pommedeterre,NaN,NaN,NaN,NaN,11:40:42
4,B15,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2.0,...,NaN,NaN,NaN,escalopedeporc,pommedeterre,NaN,tartechocolat,NaN,NaN,11:41:45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,A03,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2.0,...,saladepommedeterre,NaN,NaN,gnocchispestovege,NaN,NaN,yaourt,NaN,NaN,12:54:02 PM
100,A07,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2.0,...,NaN,NaN,NaN,escalopedeporc,pommedeterre,NaN,NaN,NaN,NaN,12:54:31 PM
101,A02,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0,...,NaN,NaN,NaN,gnocchispestovege,NaN,NaN,fruit,NaN,NaN,12:54:51 PM
102,A04,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2.0,...,NaN,NaN,NaN,escalopedeporc,pommedeterre,NaN,tartechocolat,NaN,NaN,12:55:22 PM
103,A01,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2.0,...,NaN,NaN,NaN,escalopedeporc,pommedeterre,NaN,NaN,NaN,NaN,12:55:40 PM

## Sauvegarde du DataFrame

In [250]:
final.to_csv("Formatted_Formulaires_LDV_Juin.csv", encoding='latin1')